<!DOCTYPE html>
<html lang="en">
    <!-- General JS Scripts -->
    <script src="bootstrap/modules/jquery.min.js"></script>
    <script src="bootstrap/modules/popper.js"></script>
    <script src="bootstrap/modules/tooltip.js"></script>
    <script src="bootstrap/modules/bootstrap/js/bootstrap.min.js"></script>
    <script src="bootstrap/modules/nicescroll/jquery.nicescroll.min.js"></script>
    <script src="bootstrap/modules/moment.min.js"></script>
    <script src="bootstrap/js/stisla.js"></script>

    <!-- JS Libraies -->
    <script src="bootstrap/modules/jquery.sparkline.min.js"></script>
    <script src="bootstrap/modules/chart.min.js"></script>
    <script src="bootstrap/modules/owlcarousel2/dist/owl.carousel.min.js"></script>
    <script src="bootstrap/modules/summernote/summernote-bs4.js"></script>
    <script src="bootstrap/modules/chocolat/dist/js/jquery.chocolat.min.js"></script>

    <!-- Page Specific JS File -->
    <script src="bootstrap/js/page/index.js"></script>

    <!-- Template JS File -->
    <script src="bootstrap/js/scripts.js"></script>
    <script src="bootstrap/js/custom.js"></script>
</html>